In [1]:
import pandas as pd

In [8]:
d = pd.read_csv(r'C:\Users\V Krishna Teja\Downloads\archive\covid.csv')
df = pd.DataFrame(d)
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [9]:
df.head()

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.0,98.56,1.44,40100376

In [10]:
df.tail()

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [11]:
df.describe()

,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
count,3.600000e+01,36.000000,3.600000e+01,36.000000,36.000000,36.000000,36.000000,3.600000e+01
mean,1.249975e+06,50.333333,1.235146e+06,14778.527778,0.005000,98.897222,1.097778,3.971861e+07
std,1.846038e+06,207.118048,1.820328e+06,27221.140636,0.026673,0.506854,0.494791,5.050913e+07
min,1.076600e+04,0.000000,1.063700e+04,4.000000,0.000000,97.410000,0.030000,6.600100e+04
25%,1.065430e+05,0.000000,1.055395e+05,1124.250000,0.000000,98.690000,0.840000,1.695473e+06
50%,6.140910e+05,1.500000,6.076750e+05,6551.000000,0.000000,98.935000,1.065000,2.410088e+07
75%,1.331951e+06,9.000000,1.322329e+06,14325.750000,0.000000,99.160000,1.310000,6.979986e+07
max,8.171048e+06,1233.000000,8.022276e+06,148558.000000,0.160000,99.970000,2.440000,2.315026e+08

In [13]:
df.shape

(36, 9)

In [14]:
df[0:10:2]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.0,98.80,1.20,100896618
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
4,Bihar,855267,1,842952,12314,0.0,98.56,1.44,40100376
6,Chhattisgarh,1187695,0,1173505,14190,0.0,98.81,1.19,28900667
8,Delhi,2040910,14,2014230,26666,0.0,98.69,1.31,773997

In [15]:
df['Discharged']

0       10637
1     2325943
2       66753
3      738119
4      842952
5       99508
6     1173505
7       11588
8     2014230
9      259329
10    1280299
11    1068121
12     318660
13     477231
14     438491
15    4048399
16    6835181
17      29371
18      11363
19    1045565
20    8022276
21     137885
22      95352
23     238825
24      35251
25    1339135
26     175566
27     773073
28    1316727
29      44422
30    3572569
31     840313
32     107550
33    2121662
34     444803
35    2104592
Name: Discharged, dtype: int64

In [16]:
df[['Discharged','State/UTs']]

    Discharged                                 State/UTs
0        10637                       Andaman and Nicobar
1      2325943                            Andhra Pradesh
2        66753                         Arunachal Pradesh
3       738119                                     Assam
4       842952                                     Bihar
5        99508                                Chandigarh
6      1173505                              Chhattisgarh
7        11588  Dadra and Nagar Haveli and Daman and Diu
8      2014230                                     Delhi
9       259329                                       Goa
10     1280299                                   Gujarat
11     1068121                                   Haryana
12      318660                          Himachal Pradesh
13      477231                         Jammu and Kashmir
14      438491                                 Jharkhand
15     4048399                                 Karnataka
16     6835181                                    Kerala
17       29371                                    Ladakh
18       11363                               Lakshadweep
19     1045565                            Madhya Pradesh
20     8022276                               Maharashtra
21      137885                                   Manipur
22       95352                                 Meghalaya
23      238825                                   Mizoram
24       35251                                  Nagaland
25     1339135                                    Odisha
26      175566                                Puducherry
27      773073                                    Punjab
28     1316727                                 Rajasthan
29       44422                                    Sikkim
30     3572569                                Tamil Nadu
31      840313                                 Telengana
32      107550                                   Tripura
33     2121662                             Uttar Pradesh
34      444803                               Uttarakhand
35     2104592                               West Bengal

In [17]:
df[['Discharged','State/UTs']][0:20]

    Discharged                                 State/UTs
0        10637                       Andaman and Nicobar
1      2325943                            Andhra Pradesh
2        66753                         Arunachal Pradesh
3       738119                                     Assam
4       842952                                     Bihar
5        99508                                Chandigarh
6      1173505                              Chhattisgarh
7        11588  Dadra and Nagar Haveli and Daman and Diu
8      2014230                                     Delhi
9       259329                                       Goa
10     1280299                                   Gujarat
11     1068121                                   Haryana
12      318660                          Himachal Pradesh
13      477231                         Jammu and Kashmir
14      438491                                 Jharkhand
15     4048399                                 Karnataka
16     6835181                                    Kerala
17       29371                                    Ladakh
18       11363                               Lakshadweep
19     1045565                            Madhya Pradesh

In [18]:
df[['Discharged','State/UTs']][0:20:4]

    Discharged            State/UTs
0        10637  Andaman and Nicobar
4       842952                Bihar
8      2014230                Delhi
12      318660     Himachal Pradesh
16     6835181               Kerala

In [21]:
for rec in df.iterrows():
    print(rec)

(0, State/UTs          Andaman and Nicobar
Total Cases                      10766
Active                               0
Discharged                       10637
Deaths                             129
Active Ratio                       0.0
Discharge Ratio                   98.8
Death Ratio                        1.2
Population                   100896618
Name: 0, dtype: object)
(1, State/UTs          Andhra Pradesh
Total Cases               2340676
Active                          0
Discharged                2325943
Deaths                      14733
Active Ratio                  0.0
Discharge Ratio             99.37
Death Ratio                  0.63
Population              128500364
Name: 1, dtype: object)
(2, State/UTs          Arunachal Pradesh
Total Cases                    67049
Active                             0
Discharged                     66753
Deaths                           296
Active Ratio                     0.0
Discharge Ratio                99.56
Death Ratio                     0.44
Population                    658019
Name: 2, dtype: object)
(3, State/UTs           Assam
Total Cases        746159
Active                  5
Discharged         738119
Deaths               8035
Active Ratio          0.0
Discharge Ratio     98.92
Death Ratio          1.08
Population         290492
Name: 3, dtype: object)
(4, State/UTs             Bihar
Total Cases          855267
Active                    1
Discharged           842952
Deaths                12314
Active Ratio            0.0
Discharge Ratio       98.56
Death Ratio            1.44
Population         40100376
Name: 4, dtype: object)
(5, State/UTs          Chandigarh
Total Cases            100693
Active                      0
Discharged              99508
Deaths                   1185
Active Ratio              0.0
Discharge Ratio         98.82
Death Ratio              1.18
Population           30501026
Name: 5, dtype: object)
(6, State/UTs          Chhattisgarh
Total Cases             1187695
Active                        0
Discharged              1173505
Deaths                    14190
Active Ratio                0.0
Discharge Ratio           98.81
Death Ratio                1.19
Population             28900667
Name: 6, dtype: object)
(7, State/UTs          Dadra and Nagar Haveli and Daman and Diu
Total Cases                                           11592
Active                                                    0
Discharged                                            11588
Deaths                                                    4
Active Ratio                                            0.0
Discharge Ratio                                       99.97
Death Ratio                                            0.03
Population                                        231502578
Name: 7, dtype: object)
(8, State/UTs            Delhi
Total Cases        2040910
Active                  14
Discharged         2014230
Deaths               26666
Active Ratio           0.0
Discharge Ratio      98.69
Death Ratio           1.31
Population          773997
Name: 8, dtype: object)
(9, State/UTs              Goa
Total Cases         263346
Active                   3
Discharged          259329
Deaths                4014
Active Ratio           0.0
Discharge Ratio      98.47
Death Ratio           1.52
Population         3772103
Name: 9, dtype: object)
(10, State/UTs           Gujarat
Total Cases         1291383
Active                    5
Discharged          1280299
Deaths                11079
Active Ratio            0.0
Discharge Ratio       99.14
Death Ratio            0.86
Population         70400153
Name: 10, dtype: object)
(11, State/UTs          Haryana
Total Cases        1078903
Active                  27
Discharged         1068121
Deaths               10755
Active Ratio           0.0
Discharge Ratio       99.0
Death Ratio            1.0
Population         7503010
Name: 11, dtype: object)
(12, State/UTs          Himachal Pradesh
Total Cases                  322905
Active                            4
Discharged                   318660
Deaths                         4241
Active Ratio                    0.0
Discharge Ratio               98.69
Death Ratio                    1.31
Population                  3436948
Name: 12, dtype: object)
(13, State/UTs          Jammu and Kashmir
Total Cases                   482023
Active                             0
Discharged                    477231
Deaths                          4792
Active Ratio                     0.0
Discharge Ratio                99.01
Death Ratio                     0.99
Population                     66001
Name: 13, dtype: object)
(14, State/UTs          Jharkhand
Total Cases           443826
Active                     1
Discharged            438491
Deaths                  5334
Active Ratio             0.0
Discharge Ratio         98.8
Death Ratio              1.2
Population         124904071
Name: 14, dtype: object)
(15, State/UTs          Karnataka
Total Cases          4088769
Active                    12
Discharged           4048399
Deaths                 40358
Active Ratio             0.0
Discharge Ratio        99.01
Death Ratio             0.99
Population           1711947
Name: 15, dtype: object)
(16, State/UTs            Kerala
Total Cases         6907241
Active                   18
Discharged          6835181
Deaths                72042
Active Ratio            0.0
Discharge Ratio       98.96
Death Ratio            1.04
Population         91702478
Name: 16, dtype: object)
(17, State/UTs           Ladakh
Total Cases          29602
Active                   0
Discharged           29371
Deaths                 231
Active Ratio           0.0
Discharge Ratio      99.22
Death Ratio           0.78
Population         4184959
Name: 17, dtype: object)
(18, State/UTs          Lakshadweep
Total Cases              11415
Active                       0
Discharged               11363
Deaths                      52
Active Ratio               0.0
Discharge Ratio          99.54
Death Ratio               0.46
Population            11700099
Name: 18, dtype: object)
(19, State/UTs          Madhya Pradesh
Total Cases               1056351
Active                          0
Discharged                1045565
Deaths                      10786
Active Ratio                  0.0
Discharge Ratio             98.98
Death Ratio                  1.02
Population               14999397
Name: 19, dtype: object)
(20, State/UTs          Maharashtra
Total Cases            8171048
Active                     214
Discharged             8022276
Deaths                  148558
Active Ratio               0.0
Discharge Ratio          98.18
Death Ratio               1.82
Population              399001
Name: 20, dtype: object)
(21, State/UTs           Manipur
Total Cases          140034
Active                    0
Discharged           137885
Deaths                 2149
Active Ratio            0.0
Discharge Ratio       98.47
Death Ratio            1.53
Population         47099270
Name: 21, dtype: object)
(22, State/UTs          Meghalaya
Total Cases            96983
Active                     3
Discharged             95352
Deaths                  1628
Active Ratio             0.0
Discharge Ratio        98.32
Death Ratio             1.68
Population          79502477
Name: 22, dtype: object)
(23, State/UTs          Mizoram
Total Cases         239560
Active                   1
Discharged          238825
Deaths                 734
Active Ratio           0.0
Discharge Ratio      99.69
Death Ratio           0.31
Population         1308967
Name: 23, dtype: object)
(24, State/UTs          Nagaland
Total Cases           36033
Active                    0
Discharged            35251
Deaths                  782
Active Ratio            0.0
Discharge Ratio       97.83
Death Ratio            2.17
Population         38157311
Name: 24, dtype: object)
(25, State/UTs            Odisha
Total Cases         1348409
Active                   59
Discharged          1339135
Deaths                 9215
Active Ratio            0.0
Discharge Ratio       99.31
Death Ratio            0.68
Population         19301096
Name: 25, dtype: object)
(26, State/UTs          Puducherry
Total Cases            177547
Active                      0
Discharged             175566
Deaths                   1981
Active Ratio              0.0
Discharge Ratio         98.88
Death Ratio              1.12
Population            2073074
Name: 26, dtype: object)
(27, State/UTs            Punjab
Total Cases          793644
Active                 1233
Discharged           773073
Deaths                19338
Active Ratio           0.16
Discharge Ratio       97.41
Death Ratio            2.44
Population         34698876
Name: 27, dtype: object)
(28, State/UTs          Rajasthan
Total Cases          1326465
Active                     2
Discharged           1316727
Deaths                  9736
Active Ratio             0.0
Discharge Ratio        99.27
Death Ratio             0.73
Population           1521992
Name: 28, dtype: object)
(29, State/UTs            Sikkim
Total Cases           44927
Active                    4
Discharged            44422
Deaths                  501
Active Ratio           0.01
Discharge Ratio       98.88
Death Ratio            1.12
Population         83697770
Name: 29, dtype: object)
(30, State/UTs          Tamil Nadu
Total Cases           3610655
Active                      5
Discharged            3572569
Deaths                  38081
Active Ratio              0.0
Discharge Ratio         98.95
Death Ratio              1.05
Population           35998752
Name: 30, dtype: object)
(31, State/UTs          Telengana
Total Cases           844432
Active                     8
Discharged            840313
Deaths                  4111
Active Ratio             0.0
Discharge Ratio        99.51
Death Ratio             0.49
Population          69599762
Name: 31, dtype: object)
(32, State/UTs          Tripura
Total Cases         108493
Active                   1
Discharged          107550
Deaths                 942
Active Ratio           0.0
Discharge Ratio      99.13
Death Ratio           0.87
Population         1646050
Name: 32, dtype: object)
(33, State/UTs          Uttar Pradesh
Total Cases              2145431
Active                        57
Discharged               2121662
Deaths                     23712
Active Ratio                 0.0
Discharge Ratio            98.89
Death Ratio                 1.11
Population               1158040
Name: 33, dtype: object)
(34, State/UTs          Uttarakhand
Total Cases             452571
Active                       0
Discharged              444803
Deaths                    7768
Active Ratio               0.0
Discharge Ratio          98.28
Death Ratio               1.72
Population            85002417
Name: 34, dtype: object)
(35, State/UTs          West Bengal
Total Cases            2126282
Active                     135
Discharged             2104592
Deaths                   21555
Active Ratio              0.01
Discharge Ratio          98.98
Death Ratio               1.01
Population            32199722
Name: 35, dtype: object)

In [22]:
df.loc[1]

State/UTs          Andhra Pradesh
Total Cases               2340676
Active                          0
Discharged                2325943
Deaths                      14733
Active Ratio                  0.0
Discharge Ratio             99.37
Death Ratio                  0.63
Population              128500364
Name: 1, dtype: object

In [23]:
df.loc[1:4]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.0,98.56,1.44,40100376

In [24]:
df.loc[23,["Deaths"]]

Deaths    734
Name: 23, dtype: object

In [28]:
df.loc[23:26,["Deaths","Active"]]

    Deaths  Active
23     734       1
24     782       0
25    9215      59
26    1981       0

In [30]:
df.loc[23:26,"Deaths":"Death Ratio"]

    Deaths  Active Ratio  Discharge Ratio  Death Ratio
23     734           0.0            99.69         0.31
24     782           0.0            97.83         2.17
25    9215           0.0            99.31         0.68
26    1981           0.0            98.88         1.12

In [33]:
df.iloc[1:4]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492

In [51]:
df.iloc[1:4,0:9]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
1,Andhra Pradesh,2340676,0,2325943,14733,0.0,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.0,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492

In [43]:
df.iloc[1,0]

'Andhra Pradesh'

In [44]:
df.iloc[1:5,[1,5,6]]

   Total Cases  Active Ratio  Discharge Ratio
1      2340676           0.0            99.37
2        67049           0.0            99.56
3       746159           0.0            98.92
4       855267           0.0            98.56

In [50]:
df.iloc[:,[1,5,6]]

    Total Cases  Active Ratio  Discharge Ratio
0         10766          0.00            98.80
1       2340676          0.00            99.37
2         67049          0.00            99.56
3        746159          0.00            98.92
4        855267          0.00            98.56
5        100693          0.00            98.82
6       1187695          0.00            98.81
7         11592          0.00            99.97
8       2040910          0.00            98.69
9        263346          0.00            98.47
10      1291383          0.00            99.14
11      1078903          0.00            99.00
12       322905          0.00            98.69
13       482023          0.00            99.01
14       443826          0.00            98.80
15      4088769          0.00            99.01
16      6907241          0.00            98.96
17        29602          0.00            99.22
18        11415          0.00            99.54
19      1056351          0.00            98.98
20      8171048          0.00            98.18
21       140034          0.00            98.47
22        96983          0.00            98.32
23       239560          0.00            99.69
24        36033          0.00            97.83
25      1348409          0.00            99.31
26       177547          0.00            98.88
27       793644          0.16            97.41
28      1326465          0.00            99.27
29        44927          0.01            98.88
30      3610655          0.00            98.95
31       844432          0.00            99.51
32       108493          0.00            99.13
33      2145431          0.00            98.89
34       452571          0.00            98.28
35      2126282          0.01            98.98

In [48]:
df.iloc[[1,2,3],8]

1    128500364
2       658019
3       290492
Name: Population, dtype: int64

In [53]:
df.sort_values("Deaths")

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001

In [54]:
df.sort_values("Deaths",ascending = False)

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578

In [57]:
df.sort_values(["Population","Deaths"])

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578

In [61]:
df.sort_values(["Population","Deaths"],ascending=[1,2])

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578

In [66]:
df["Total"]=0
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,0
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,0
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,0
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,0
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,0
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,0
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,0
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,0
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,0
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,0
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,0
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,0
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,0
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,0
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,0
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,0
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,0
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,0
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,0
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,0
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,0
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,0
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,0
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,0
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,0
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,0
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,0
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,0
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,0
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,0
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,0
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,0
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,0
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,0
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,0
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,0

In [67]:
df["Total"]=df["Population"]-df["Deaths"]

In [68]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,100896489
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,128485631
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,657723
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,282457
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,40088062
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,30499841
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,28886477
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,231502574
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,747331
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,3768089
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,70389074
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,7492255
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,3432707
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,61209
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,124898737
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,1671589
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,91630436
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,4184728
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,11700047
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,14988611
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,250443
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,47097121
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,79500849
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,1308233
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,38156529
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,19291881
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,2071093
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,34679538
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1512256
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,83697269
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,35960671
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,69595651
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,1645108
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,1134328
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,84994649
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,32178167

In [69]:
df.drop(columns="Total")

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [70]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population,Total
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618,100896489
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364,128485631
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019,657723
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492,282457
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376,40088062
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026,30499841
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667,28886477
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578,231502574
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997,747331
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103,3768089
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153,70389074
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010,7492255
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948,3432707
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001,61209
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071,124898737
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947,1671589
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478,91630436
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959,4184728
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099,11700047
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397,14988611
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001,250443
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270,47097121
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477,79500849
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967,1308233
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311,38156529
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096,19291881
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074,2071093
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876,34679538
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992,1512256
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770,83697269
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752,35960671
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762,69595651
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050,1645108
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040,1134328
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417,84994649
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722,32178167

In [71]:
df.drop(columns="Total",inplace=True)

In [72]:
df

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
2,Arunachal Pradesh,67049,0,66753,296,0.00,99.56,0.44,658019
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
17,Ladakh,29602,0,29371,231,0.00,99.22,0.78,4184959
18,Lakshadweep,11415,0,11363,52,0.00,99.54,0.46,11700099
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
24,Nagaland,36033,0,35251,782,0.00,97.83,2.17,38157311
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [73]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
dtype: bool

In [74]:
df.loc[df["Deaths"]>1000]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
1,Andhra Pradesh,2340676,0,2325943,14733,0.00,99.37,0.63,128500364
3,Assam,746159,5,738119,8035,0.00,98.92,1.08,290492
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
9,Goa,263346,3,259329,4014,0.00,98.47,1.52,3772103
10,Gujarat,1291383,5,1280299,11079,0.00,99.14,0.86,70400153
11,Haryana,1078903,27,1068121,10755,0.00,99.00,1.00,7503010
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
14,Jharkhand,443826,1,438491,5334,0.00,98.80,1.20,124904071
15,Karnataka,4088769,12,4048399,40358,0.00,99.01,0.99,1711947
16,Kerala,6907241,18,6835181,72042,0.00,98.96,1.04,91702478
19,Madhya Pradesh,1056351,0,1045565,10786,0.00,98.98,1.02,14999397
20,Maharashtra,8171048,214,8022276,148558,0.00,98.18,1.82,399001
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
22,Meghalaya,96983,3,95352,1628,0.00,98.32,1.68,79502477
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
26,Puducherry,177547,0,175566,1981,0.00,98.88,1.12,2073074
27,Punjab,793644,1233,773073,19338,0.16,97.41,2.44,34698876
28,Rajasthan,1326465,2,1316727,9736,0.00,99.27,0.73,1521992
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
31,Telengana,844432,8,840313,4111,0.00,99.51,0.49,69599762
33,Uttar Pradesh,2145431,57,2121662,23712,0.00,98.89,1.11,1158040
34,Uttarakhand,452571,0,444803,7768,0.00,98.28,1.72,85002417
35,West Bengal,2126282,135,2104592,21555,0.01,98.98,1.01,32199722

In [75]:
df.loc[(df["Deaths"]>1000) & (df["Population"]<1000000)]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
3,Assam,746159,5,738119,8035,0.0,98.92,1.08,290492
8,Delhi,2040910,14,2014230,26666,0.0,98.69,1.31,773997
13,Jammu and Kashmir,482023,0,477231,4792,0.0,99.01,0.99,66001
20,Maharashtra,8171048,214,8022276,148558,0.0,98.18,1.82,399001

In [78]:
df.loc[df["State/UTs"].str.contains("i")]

,State/UTs,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
0,Andaman and Nicobar,10766,0,10637,129,0.00,98.80,1.20,100896618
4,Bihar,855267,1,842952,12314,0.00,98.56,1.44,40100376
5,Chandigarh,100693,0,99508,1185,0.00,98.82,1.18,30501026
6,Chhattisgarh,1187695,0,1173505,14190,0.00,98.81,1.19,28900667
7,Dadra and Nagar Haveli and Daman and Diu,11592,0,11588,4,0.00,99.97,0.03,231502578
8,Delhi,2040910,14,2014230,26666,0.00,98.69,1.31,773997
12,Himachal Pradesh,322905,4,318660,4241,0.00,98.69,1.31,3436948
13,Jammu and Kashmir,482023,0,477231,4792,0.00,99.01,0.99,66001
21,Manipur,140034,0,137885,2149,0.00,98.47,1.53,47099270
23,Mizoram,239560,1,238825,734,0.00,99.69,0.31,1308967
25,Odisha,1348409,59,1339135,9215,0.00,99.31,0.68,19301096
29,Sikkim,44927,4,44422,501,0.01,98.88,1.12,83697770
30,Tamil Nadu,3610655,5,3572569,38081,0.00,98.95,1.05,35998752
32,Tripura,108493,1,107550,942,0.00,99.13,0.87,1646050